/* CSS declarations go here */

.hide {
    display: none;
}

#login-buttons {
    display: block;
    padding: 15px;
    margin-bottom: 50px;
    border: 1px solid #cccccc;
    position: relative;
}

#login-buttons .login-close-text {
    position: absolute;
    top: 0;
    right: 0;
}

#login-buttons #login-buttons-password {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #cccccc;
}

form .panel-title {
    margin-bottom: 0
}

form .help-block {
    display: block;
    color: crimson;
}

form .panel-body .help-block {
    margin-bottom: 10px;
}

form .panel-body .form-group {
    padding-left: 5px;
    margin-bottom: 5px;
}

form .form-group .help-block {
    padding-left: 130px;
}

form .lvl_top, form .lvl_bot {
    display: block;
    position: relative;
}

label {
    display: inline-block;
    width: 125px;
}

input, select {
    display: inline-block;
    width: 130px;
    vertical-align: middle;
}

.select2-container-multi .select2-choices {
    width: 129px;
}

.select2-drop-active {
    border-top: 1px solid #cccccc;
}

.select2-container-multi .select2-search-choice-close {
    content: "x";
}

form .invisible {
    opacity: 0;
}

h4 {
    padding-bottom: 10px;
    margin-top: 0;
    border-bottom: 1px solid #cccccc;
}

.product {
    display: block;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #cccccc;
}

.productInfo {
    display: block;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px dashed #cccccc;
}


.productRange, .netQuantity {
    display: block;
    font-size: smaller;
}